body {
    background-color: #F0E1D8;
    margin: 0 auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #A3968E ;

    height: 100px;

}

h1 {
   
    margin-left: 500px;

    color: #F0DBD8 ;
  
    font-size: 30px ;

}

nav li {
    display: inline;
    margin-left:210px ;

}

nav li a {
    color: #DBD6D0;
    font-size: 20px ;
    text-decoration: none ;
    cursor: pointer;

}

nav li a:hover {
   

}

main p {
 
}

footer {
  
    background-color: #A3968E ;
    height: 100px;
}

footer p {
    margin-left: 540px;
    color:#F0E1D8 ;
    text-decoration: none;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: DodgerBlue;

  }

  img {
    height: 300px;
    width: 300px;
  }